{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext"
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": "inline"
}
